
<body>
  

    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <p style="color:blue;">Login<p>
      <p >Sign in to your account</p>
      <div>
        <label for="name">Username:</label>
        <input
        type="text" id="identifier" name="identifier"
         placeholder="Enter Username, Email, or Phone No" 
         [(ngModel)]="user.identifier" 
          #name="ngModel"
          />
          <div *ngIf="name.invalid && (name.dirty || name.touched)"> 
            <div *ngIf="name.errors?.['required']">Name is required.</div> 
          <div *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</div> 
          <div *ngIf="name.errors?.['pattern']">Name can only contain letters.</div> </div>
      </div> 
      <div>
      <label for="password">Password:</label>
      <input
       [type]="passwordFieldType"
        id="psw"
        placeholder="Enter Password"
          name="password"
          [(ngModel)]="user.password"
        required
      />
      <i class="fas" [ngClass]="passwordFieldType === 'text' ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>

    </div>
    <p>Forgot <a href="forgot-username" value="username">username</a> or <a href="forgot-password" value="password">password</a>?</p>
    
      <button type="submit" (click)="onSubmit(userForm)" >Login</button>
      <p style="text-align: center;">Don't have an account ? <a href="register" value="createOne">Create One</a>?</p>
     
  
     
    </form>
    
    
    <p>
      Nepal Clearing House Ltd. (NCHL) is a public limited company established
      on 23rd December, 2008 (8 Poush 2065) under the leadership and guidance of
      Nepal Rastra Bank (The Central Bank of Nepal). It has equity participation
      from Nepal Rastra Bank, commercial banks, development banks, and finance
      companies. NCHL recognizes banking & financial technology-oriented services
      as one of the key ingredients for the Banks and Financial Institutions
      (BFIs) to improve their efficiency and productivity and also provide
      innovative financial solutions to their customers. NCHL intends to help
      them realize these by providing various technology-based payment-related
      services without having to invest heavily in infrastructures by the BFIs.
    </p>
  </body>
  
    