
<body>
  

    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <p style="color:blue;">Change Your Password<p>
      <p >Sign in to your account</p>
      <div>
        <label for="name">Username:</label>
        <input
        type="text" id="identifier" name="identifier"
         placeholder="Enter Username, Email, or Phone No" 
         [(ngModel)]="user.identifier" 
          #name="ngModel"
          />
          <div *ngIf="name.invalid && (name.dirty || name.touched)"> 
            <div *ngIf="name.errors?.['required']">Name is required.</div> 
          <div *ngIf="name.errors?.['minlength']">Name must be at least 3 characters long.</div> 
          <div *ngIf="name.errors?.['pattern']">Name can only contain letters.</div> </div>
      </div> 
      <div>
        <label for="password">OldPassword:</label>
        <input
         [type]="passwordFieldType"
          id="psw"
          placeholder="Enter  OldPassword"
            name="password"
            [(ngModel)]="user.oldPassword"
          required
        />
        <i class="fas" [ngClass]="passwordFieldType === 'text' ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
  
      </div>
      <div>
      <label for="password">NewPassword:</label>
      <input
       [type]="passwordFieldType"
        id="psw"
        placeholder="Enter  new Password"
          name="password"
          [(ngModel)]="user.newPassword"
        required
      />
      <i class="fas" [ngClass]="passwordFieldType === 'text' ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
    </div>
      <button type="submit" (click)="onSubmit(userForm)" >Login</button>
      <p class="email-contact"> <i class="fas fa-envelope"></i> Email us: ganeshbasnet507&#64;gmail.com </p>
    </form>
  </body>
  
    