<p>create-username works!</p>

<body>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <p style="color:blue;">Login<p>
    <p>Sign in to your account</p>

    <div>
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter new Username"
        [(ngModel)]="user.newUsername"
        #username="ngModel"
        required
        minlength="3"
        pattern="^[A-Za-z]+$"
      />
      <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div *ngIf="username.errors?.['required']">Name is required.</div>
        <div *ngIf="username.errors?.['minlength']">Name must be at least 3 characters long.</div>
        <div *ngIf="username.errors?.['pattern']">Name can only contain letters.</div>
      </div>
    </div>

    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your Email"
        [(ngModel)]="user.email"
        #email="ngModel"
        required
      />
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['pattern']">Please enter a valid email.</div>
      </div>
    </div>

    <div>
      <label for="code">Code:</label>
      <input
        type="text"
        id="code"
        name="code"
        placeholder="Enter sent code"
        [(ngModel)]="user.code"
        required
      />
    </div>

    <button type="submit">Login</button>

    <p class="email-contact"><i class="fas fa-envelope"></i> Email us: ganeshbasnet507&#64;gmail.com</p>
  </form>
</body>
