<table class="table">
    <thead ><tr>
     <th>id</th>
     <th>address</th>
     <th>email</th>
     <th>phone_no</th>
     <th>full_name</th>
     <th>user_name</th>
   </tr>
 </thead>
 <tbody>
   <tr *ngFor="let user of users" >
     <td>
         {{ user.id }}
     </td>
     <td>
         {{ user.address  }}
     </td>
     <td>
         {{ user.email  }}
     </td>
     <td>
         {{ user.phoneNo  }}
     </td>
     <td>
         {{ user.fullName  }}
     </td>
     <td>
         {{ user.userName  }}
     </td>
 </tr>
</tbody>
</table>